@media screen and (max-width: 360px) {
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    html{width: 100%; background-color: white;}
    body {
        font-family: 'Roboto', sans-serif;
        padding: 0;
        margin:0;
        width: 100%;
        height: 100%;
        background-color: white;
    }
    body::-webkit-scrollbar{
        display: none;
    }
    header {
        position: sticky;
        top: 0;
        justify-content:space-between;
        display: flex;
        height: 73px;
        padding: 0;
        margin:0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 10px 0;
        z-index: 100;
    }
    header div {
        margin: 13px 26px 0 0;
        display: flex;
        justify-content: center;
        font-family: 'Roboto',sans-serif;
        font-weight: 700;
        background-color: blue;
        border: none;
        color: white;
        width: 150px;
        height: 40px;
        border-radius: 60px;
        text-align: center;
        vertical-align: middle;
        line-height: 10px;
    }
    header img {
        margin: 13px 0 0 26px;
        justify-content: center;
        display: flex;
        width: 127px;
        height: 44.9px;
    }
    #driver img{
        position: absolute;
        top: 0px;
        left:0px;
        right: 0px;
        display: flex;
    }
    div div img{
        margin: 13px 0 0 26px;
        justify-content: center;
        display: none;
        width: 127px;
        height: 44.9px;
        z-index: 1;
    }
    hr.shadow1{
        margin:0;
        position: absolute;
        top:0px;
        display: flex;
        width: 100%;
        height: 98px;
        background-image: linear-gradient(rgb(22, 22, 22),rgba(0, 0, 0, 0.0));
        opacity: 76%;
        border-width:0;
    }
    hr.shadow2{
        margin-top:153px;
        position: absolute;
        top:0px;
        display: flex;
        width: 100%;
        height: 166px;
        background-image: linear-gradient( rgba(0, 0, 0, 0), rgb(0, 0, 0));
        opacity: 76%;
        border-width:0;
    }
    div#contacto{
        margin: 320px 0 0 0;
        width: 100%;
    }
    #contacto p{
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 20px;
        justify-content: space-around;
    }
    #contacto #wts{
        width: 170px;
        height: 40px;
        margin: 0 auto 0 auto;
        display: block;
    }
    p#datos1{
        font-family: 'Roboto',sans-serif;
        font-weight:400;
        font-size: 14px;
    }
    ol{
        list-style-type: none;
       margin: auto;
       padding: 0;
       width: 310px;
       
    }
    ol li select{
        width: 309px;
        height: 36px;
        border-color: #D9D9D9;
        border-radius: 4px;
        align-self: center;
    }
    ol li{
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    div#siguiente{
        display: flex;
        background-color: #3457FA;
        justify-content: space-around;
        font-family: 'Roboto',sans-serif;
        font-weight: bold;
        font-size: 16px;
        width: 310px;
        height: 46px ;
        margin: 46px auto;
        border-radius: 60px;
        color: white;
    }
    div#seguro{
        display: inline;
    }
    #seguro p{
        font-family: 'Roboto',sans-serif;
        font-size: 22px;
        font-weight: bold;
        color: #ffffff;
        width: 100%;
        
    }
    #seguro ol{
        display: flex;
        justify-content: space-around;
    }
    footer{
        background-color: #00358E;
        width: 100%;
        height: 919px;
        color:white;

        position: relative;
    }
    #back{
        position: absolute;
        top: 0;
    }
    #back1{
        position: absolute;
        bottom: 0;
        transform: rotate(90deg);
    }
    #datos_f h2{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: bold;
        width: fit-content;
        margin: auto;
        line-height: 28px;
    }
    #datos_f p{
        width: fit-content; 
        margin: auto;
        line-height: 28px;
        padding-bottom:30px ;
    }
    div#datos_f.pad{
        padding-top: 50px;
    }
    #datos_f{
        padding: 25px 0 0 0;
        border-style: solid;
        border-width: 0 0 1px 0;
        width: 208px;
        margin: auto;
    }
    #SSN_logo{
        display: flex;
        justify-content: space-around;
        margin-top: 25px;
    }
    #disclaimer p{
        font-family: 'Roboto', sans-serif;
        font-weight: 400px;
        font-size: 12px;
    }
    #disclaimer h3{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 12px;
        margin-bottom: -10px;
    }
    #disclaimer{
        width: 86.1%;
        margin: auto;
        margin-top: 41px;
        line-height: 22px;
        letter-spacing: -0.3%;
        text-align: left;
    }

}
/* @media screen and (min-width: 360px) {
    body {
        width: 100%;
        height: 100%;
        background-color: rebeccapurple;
    }
} */