@media screen and (max-width: 360px) {
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    html{width: 100%; background-color: white;}
    body {
        font-family: 'Roboto', sans-serif;
        padding: 0;
        margin:0;
        width: 100%;
        height: 100%;
        background-color: white;
    }
    body::-webkit-scrollbar{
        display: none;
    }
    header {
        position: sticky;
        top: 0;
        justify-content:space-between;
        display: flex;
        height: 73px;
        padding: 0;
        margin:0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 10px 0;
    }
    header div {
        margin: 13px 26px 0 0;
        display: flex;
        justify-content: center;
        font-family: 'Roboto',sans-serif;
        font-weight: 700;
        background-color: #3457FA;
        border: none;
        color: white;
        width: 150px;
        height: 40px;
        border-radius: 60px;
        text-align: center;
        vertical-align: middle;
        line-height: 10px;
    }
    header img {
        margin: 13px 0 0 26px;
        justify-content: center;
        display: flex;
        width: 127px;
        height: 44.9px;
    }
    #driver img{
        position: absolute;
        top: 0px;
        left:0px;
        right: 0px;
        display: flex;
    }
    div div img{
        margin: 13px 0 0 26px;
        justify-content: center;
        display: none;
        width: 127px;
        height: 44.9px;
        z-index: 1;
    }
    hr.shadow1{
        margin:0;
        position: absolute;
        top:0px;
        display: flex;
        width: 100%;
        height: 98px;
        background-image: linear-gradient(rgb(22, 22, 22),rgba(0, 0, 0, 0.0));
        opacity: 76%;
        border-width:0;
    }
    hr.shadow2{
        margin-top:153px;
        position: absolute;
        top:0px;
        display: flex;
        width: 100%;
        height: 166px;
        background-image: linear-gradient( rgba(0, 0, 0, 0), rgb(0, 0, 0));
        opacity: 76%;
        border-width:0;
    }
    div#contacto{
        margin: 320px 0 0 0;
        width: 100%;
    }
    #contacto p{
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 20px;
        justify-content: space-around;
    }
    #contacto #wts{
        width: 170px;
        height: 40px;
        margin: 0 auto 0 auto;
        display: block;
    }
    p#datos1{
        font-family: 'Roboto',sans-serif;
        font-weight:400;
        font-size: 14px;
    }
    ol#autos{
        list-style-type: none;
       margin: auto;
       padding: 0;
       width: 310px;
       
    }
    ol#autos li select{
        width: 309px;
        height: 36px;
        border-color: #D9D9D9;
        border-radius: 4px;
        align-self: center;
    }
    ol#autos li{
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    div#siguiente{
        display: flex;
        background-color: #3457FA;
        justify-content: space-around;
        font-family: 'Roboto',sans-serif;
        font-weight: bold;
        font-size: 16px;
        width: 310px;
        height: 46px ;
        margin: 46px auto;
        border-radius: 60px;
        color: white;
    }
    div#seguro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
    }
    h1{
        font-family: 'Roboto',sans-serif;
        font-size: 22px;
        font-weight: bold;
        color: #00358E;
        width: fit-content;
        margin: auto;
    }
    #seguro ol{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 25px;
        padding: 0%;
    }
    #seguro ol li{
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 50%;
        text-align: center;
    }
    #seguro ol img{
        width: 62px;
        margin: 5px auto;
    }
    #seguro div{
        font-family: 'Roboto',sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        width: 81%;
        margin: auto;
    }
    #cards{
        background-color: #F7F4EF;
        padding: 55px 0 55px 0;
    }
    #cards ol{
        list-style-type:none; 
        padding: 0;
    }
    div#cards>ol>li{
        width: 310px;
        height: 246px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0px 8px 12px 6px rgba(51, 51, 51, 0.1);
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.2);
        margin: 20px auto;
        
    }
    #cards ol h2{
        font-family: 'Robot',sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: #00358E;
        padding-top: 32px;
    }
    #cards>ol>li>*{
        margin-left: 10%;
    }
    #cards ol li ol{
        list-style-type: disc;
        margin-left: 16%;
        font-family: 'roboto',sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
    #cards ol li ol li{
        line-height: 24px;
    }
    #cards div{
        display: flex;
        background-color: #3457FA;
        width: 185px;
        height: 40px;
        border-radius: 60px;
        color: white;
        font-family: 'roboto',sans-serif;
        font-size:16px;
        font-weight: bold;
        justify-content: center;
        line-height: 10px;
    }
   
}
/* @media screen and (min-width: 360px) {
    body {
        width: 100%;
        height: 100%;
        background-color: rebeccapurple;
    }
} */