@media screen and (max-width: 615px) {
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    html{width: 100%; background-color: white; height: 100%;}
    body {
        font-family: 'Roboto', sans-serif;
        padding: 0;
        margin:0;
        width: 100%;
        height: 100%;
        background-color: white;
    }
    body::-webkit-scrollbar{
        display: none;
    }
    header {
        position: fixed;
        top: 0;
        justify-content:space-between;
        display: flex;
        height: 73px;
        padding: 0;
        margin:0;
        width: 100%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 10px 0;
        z-index: 1;
    }
    header div {
        margin: 13px 26px 0 0;
        display: flex;
        justify-content: center;
        font-family: 'Roboto',sans-serif;
        font-weight: 700;
        background-color: #3457FA;
        border: none;
        color: white;
        width: 150px;
        height: 40px;
        border-radius: 60px;
        text-align: center;
        vertical-align: middle;
        line-height: 10px;
    }
    header img {
        margin: 13px 0 0 26px;
        justify-content: center;
        display: flex;
        width: 127px;
        height: 44.9px;
    }
    #driver{
        background-size:cover;
        background-image: url(./images/shutterstock_1489028564\ 2.png);
        width: 100%;
        height: 50%;
        z-index: 5;
        position: absolute;
        top:0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    #logo{
        position: absolute;
        top: 0px;
        left:0px;
        right: 0px;
        display: flex;
        z-index: 3;
        width: max-content;
       
    }
    #paraph{
        position: absolute;
        color: white;
        z-index: inherit;
       bottom: 0;
       width: fit-content;
       display: flex;
       font-family: 'Roboto',sans-serif;
       font-size: 26px;
       font-weight: bold;
    }
    div div img{
        margin: 13px 0 0 26px;
        justify-content: center;
        width: 127px;
        height: 44.9px;
    }
    hr.shadow1{
        margin:0;
        position: absolute;
        top:0px;
        display: flex;
        width: 100%;
        height: 98px;
        background-image: linear-gradient(rgb(22, 22, 22),rgba(0, 0, 0, 0.0));
        opacity: 76%;
        border-width:0;
    }
    hr.shadow2{
        margin-top:153px;
        position: absolute;
        margin: 0;
        width: 100%;
        height: 166px;
        background-image: linear-gradient( rgba(0, 0, 0, 0), rgb(0, 0, 0));
        opacity: 76%;
        border-width:0;
    }
    div#contacto{
        margin: 104.444vw 0 0 0;
        width: 100%;
    }
    #contacto p{
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 5.556vw;
        justify-content: space-around;
    }
    #contacto #wts{
        width: 49.444vw;
        height: auto;
        margin: 0 auto 0 auto;
        display: block;
    }
    p#datos1{
        font-family: 'Roboto',sans-serif;
        font-weight:400;
        font-size: 3.889vw;
    }
    ol#autos{
        list-style-type: none;
       margin: auto;
       padding: 0;
       width: 86.072vw;
       
    }
    ol#autos li select{
        width: 86.072vw;
        height: 36px;
        border-style: solid;
        border-color: #D9D9D9;
        border-radius: 4px;
        align-self: center;
        background-color: white;
    }
    ol#autos li{
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    div#siguiente{
        display: flex;
        background-color: #3457FA;
        justify-content: space-around;
        font-family: 'Roboto',sans-serif;
        font-weight: bold;
        font-size: 16px;
        width: 310px;
        height: 46px ;
        margin: 46px auto;
        border-radius: 60px;
        color: white;
    }
    div#seguro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
    }
    h1{
        font-family: 'Roboto',sans-serif;
        font-size: 6.128vw;
        font-weight: bold;
        color: #00358E;
        width: fit-content;
        margin: auto;
    }
    #seguro ol{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 25px;
        padding: 0%;
    }
    #seguro ol li{
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 50%;
        text-align: center;
    }
    #seguro ol img{
        width: 17.270vw;
        margin: 5px auto;
    }
    #seguro div{
        font-family: 'Roboto',sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        width: 81%;
        margin: auto;
    }
    #cards{
        background-color: #F7F4EF;
        padding: 55px 0 55px 0;
    }
    #cards ol{
        list-style-type:none; 
        padding: 0;
    }
    div#cards>ol>li{
        width: 86.351vw;
        height: fit-content;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0px 8px 12px 6px rgba(51, 51, 51, 0.1);
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.2);
        margin: 20px auto;
        padding-bottom: 30px;
    }
    #cards ol h2{
        font-family: 'Robot',sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: #00358E;
        padding-top: 32px;
    }
    #cards>ol>li>*{
        margin-left: 10%;
    }
    #cards ol li ol{
        list-style-type: disc;
        margin-left: 16%;
        font-family: 'roboto',sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
    #cards ol li ol li{
        line-height: 24px;
    }
    #cards div{
        display: flex;
        background-color: #3457FA;
        width: 185px;
        height: 40px;
        border-radius: 60px;
        color: white;
        font-family: 'roboto',sans-serif;
        font-size:16px;
        font-weight: bold;
        justify-content: center;
        line-height: 10px;
        margin-top: 20px;
    }
    footer{
        background-color: #00358E;
        width: 100%;
        height: 919px;
        color:white;

        position: relative;
    }
    #back{
        position: absolute;
        top: 0;
    }
    #back1{
        position: absolute;
        bottom: 0;
        transform: rotate(180deg);
    }
    div.datos_f h2{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: bold;
        width: fit-content;
        margin: auto;
        line-height: 28px;
    }
    div.datos_f p{
        width: fit-content; 
        margin: auto;
        line-height: 28px;
        padding-bottom:30px ;
    }
    div.datos_f.pad{
        padding-top: 50px;
    }
    div.datos_f{
        padding: 25px 0 0 0;
        border-style: solid;
        border-width: 0 0 1px 0;
        width: 208px;
        margin: auto;
    }
    #SSN_logo{
        display: flex;
        justify-content: space-around;
        margin-top: 25px;
        border: none;
    }
    #disclaimer p{
        font-family: 'Roboto', sans-serif;
        font-weight: 400px;
        font-size: 12px;
    }
    #disclaimer h3{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 12px;
        margin-bottom: -10px;
    }
    #disclaimer{
        width: 86.1%;
        margin: auto;
        margin-top: 41px;
        line-height: 22px;
        letter-spacing: -0.3%;
        text-align: left;
    }
    #contacto_pc, #autos_pc, #logo1, #long, #siguiente_pc, #disclaimer_pc{display: none;}
    }
    
 @media screen and (min-width: 615px) {
    #contacto, #autos, #logo, #siguiente,#short, #disclaimer {display: none;}
    html{
        width: 100%;
        height: 100%;
        background-color: white;
    }
    body::-webkit-scrollbar{
        display: none;
    }
    body {
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        margin: 0;
        font-family: 'Roboto',sans-serif;
        overflow-x: hidden;
    }
    header{
        position: fixed;
        z-index: 1;
        top: 0;
        background-color: white;
        box-shadow: 0px 4px 8px 3px rgba(51, 51, 51, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7.462vw;
        width: 100%;
    }
    #long{
        width: 24.872vw;
        margin-left: 6.218vw;
    }
    header>div{
        background-color: #00358E;
        border-radius: 60px;
        color: white;
        font-size: 1.170vw;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 13.533vw;
        height: 2.926vw;
        margin-right: 6.218vw;
    }
    #driver{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        background-image: url(./images/shutterstock_1489028564\ 2.svg);
        background-size: cover;
        z-index: 2;
    }
    #logo1 {
        width: 24.872vw;
        margin: 1.975vw 0 0 6.364vw;
        z-index: 2;
        position: absolute;
    }
    .shadow1{
        height: 9.510vw;
        border: 0;
        background-image: linear-gradient(rgb(22, 22, 22),rgba(0, 0, 0, 0.0));
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%;
        opacity: 76%;

    }
    .shadow2{
        height: 26.701vw;
        border: 0;
        background-image: linear-gradient( rgba(0, 0, 0, 0), rgb(0, 0, 0));
        margin: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        opacity: 76%;

    }
    #paraph{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        z-index: 2;
        height: 100%;
    }
    #paraph>p{
        font-weight: bold;
        font-size: 4.389vw; 
        color: white;
        margin: 33.869vw auto auto auto;

    }
    #contacto_pc{
        position: relative;
        z-index: inherit;
        background-color: white;
        border-radius: 12px;
        height: 85%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 27.5%;
    }
    #coti {
        font-weight: bold;
        font-size: 26px;
        margin: 4vh 0 0 0;
    }
    #wts{
        margin: 15px auto ;
    }
    #datos1 {
        font-size: 14px;
        margin-bottom: 0;
    }
    #autos_pc{
        width: 76%;
        padding: 0;
        position: relative;
        height: 100%;
    }
    #autos_pc>li{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    #autos_pc>li>select{
        width: 100%;
        height: 36px;
        border-color: #BBBBBB;
        border-radius: 4px;
    }
    #siguiente_pc{
        display: flex;
        background-color: #3457FA;
        justify-content: space-around;
        font-weight: bold;
        font-size: 16px;
        width: 100%;
        height: 46px ;
        border-radius: 60px;
        color: white;
        position: absolute;
        bottom: 0;
    }
    #seguro{
        width: 100%;
        margin: 108vh auto auto auto;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: center;
        align-items: center;
    }
    #seguro>ol{
        width: 100%;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-around;
    }
    #seguro>ol>li{
        width: 15%;
        height: 13%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.609vw;
    }
    #seguro>ol>li>img{
        width: 8.088vw;
        margin-bottom: 2%;
    }
    #seguro>h1{
        font-size: 2.634vw;
        font-weight: bold;
        color: #00358E;
    }
    #seguro>div{
        margin-top: 7.794vw;
        margin-bottom: 6.437vw;
        font-size: 1.170vw;
    }
    #cards{
        background-color: #F7F4EF;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 8.486vw;
    }
    #cards>h1{
        margin-top: 7.535vw;
        font-size: 2.634vw;
        font-weight: bold;
        color: #00358E;
    }
    #cards>ol{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #cards>ol>li{
        background-color: white;
        border-radius: 6px;
        height: 25.384vw;
        margin:0.512vw;
        width: 21.068vw;
        position: relative;
        box-shadow: 0px 4px 4px 0px rgba(51, 51, 51, 0.2),0px 8px 12px 6px rgba(0, 0, 0, 0.1);
    }
    #cards>ol>li>h2{
        font-size: 1.463vw;
        font-weight: bold;
        color: #00358E;
        width: 15.25vw;
        margin-top: 2.999vw;
    }
    #cards>ol>li>ol{
        padding: 0;
        list-style: disc;
        margin-left: 43px;
        font-size: 1.170vw;
        margin-top: 1.683vw;
        line-height: 1.756vw;
    }
    .padding{
        margin-left: 25px;
    }
    #cards>ol>li>h2.padding1{
        width: 200px;
        margin-left: 25px;
    }
    #cards div{
        display: flex;
        background-color: #3457FA;
        width: 13.533vw;
        height: 2.926vw;
        border-radius: 60px;
        color: white;
        font-size:1.176vw;
        font-weight: bold;
        justify-content: center;
        line-height: 10px;
        margin-top: 20px;
        position: absolute;
        bottom: 2.121vw;
    }
    footer{
        background-color: #00358E;
        color: white;
        position: relative;
    }
    #back{
        position: absolute;
        transform: rotate(90deg);
        top: 0; 
        right: 0;
        width: 36.650vw;
    }
    #back1{
        position: absolute;
        bottom: 0;
        transform: rotate(-90deg);
        width: 36.650vw;
    }
    footer>section{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    div.datos_f{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:6.730vw 0 0 0;
        height: 7.096vw;
        border-color: white;
        border-style: solid;
        padding: 0 6.218vw 0 6.218vw;
        border-width: 0 1px 0 0;
        width: 11.631vw;
    }
    div.datos_f>h2{
        font-size: 1.170vw;
        margin:0;
        line-height: 2.048vw;
        width: 12.6vw;
    }
    div.datos_f>p{
        margin:0;
        line-height: 2.048vw;
    }
    #SSN_logo{
        border: none;
        width: 19.093vw;
    }
    #SSN_logo>img{
        width: 100%;
    }
    #disclaimer_pc{
        width: 87.271vw;
        margin: auto;
        font-size: 0.86vw;
        padding: 5.852vw;
        line-height: 1.756vw;
    }
    #service{
        font-size:0.86vw ;
        font-weight: bold;
    }
} 
